# AdventureWorks Business Reporting & Data Maintenance Project

## Overview
This project consists of SQL queries designed to analyze, report, and maintain data within the **AdventureWorks database**. The project covers:
- **Comprehensive product reporting**
- **Customer and order insights**
- **Product category hierarchy analysis**
- **Advanced sales analysis and aggregation**
- **Data maintenance and updates**

The SQL scripts handle missing data, optimize performance, and provide insights tailored for business decision-making.

## Connection setup and libraries Import

In [1]:
import numpy as np
import pandas as pd
import sys
import os
sys.path.append("D:/JupyterNotebooks_dir")
import AzureDB

In [2]:
%load_ext sql
%sql {AzureDB.connection_string}

In [30]:
%%sql
SELECT TABLE_SCHEMA, TABLE_NAME, COLUMN_NAME, DATA_TYPE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = 'SalesLT'
    --AND TABLE_NAME='Customer'
 
ORDER BY TABLE_SCHEMA, TABLE_NAME, ORDINAL_POSITION;

 * mssql+pyodbc://adventureworks-db:***@adventureworks-db.database.windows.net:1433/AdventureWorks?driver=ODBC+Driver+18+for+SQL+Server
Done.

[('SalesLT', 'Address', 'AddressID', 'int'),
 ('SalesLT', 'Address', 'AddressLine1', 'nvarchar'),
 ('SalesLT', 'Address', 'AddressLine2', 'nvarchar'),
 ('SalesLT', 'Address', 'City', 'nvarchar'),
 ('SalesLT', 'Address', 'StateProvince', 'nvarchar'),
 ('SalesLT', 'Address', 'CountryRegion', 'nvarchar'),
 ('SalesLT', 'Address', 'PostalCode', 'nvarchar'),
 ('SalesLT', 'Address', 'rowguid', 'uniqueidentifier'),
 ('SalesLT', 'Address', 'ModifiedDate', 'datetime'),
 ('SalesLT', 'Customer', 'CustomerID', 'int'),
 ('SalesLT', 'Customer', 'NameStyle', 'bit'),
 ('SalesLT', 'Customer', 'Title', 'nvarchar'),
 ('SalesLT', 'Customer', 'FirstName', 'nvarchar'),
 ('SalesLT', 'Customer', 'MiddleName', 'nvarchar'),
 ('SalesLT', 'Customer', 'LastName', 'nvarchar'),
 ('SalesLT', 'Customer', 'Suffix', 'nvarchar'),
 ('SalesLT', 'Customer', 'CompanyName', 'nvarchar'),
 ('SalesLT', 'Customer', 'SalesPerson', 'nvarchar'),
 ('SalesLT', 'Customer', 'EmailAddress', 'nvarchar'),
 ('SalesLT', 'Customer', 'Phone', 'nvarchar'),
 ('SalesLT', 'Customer', 'PasswordHash', 'varchar'),
 ('SalesLT', 'Customer', 'PasswordSalt', 'varchar'),
 ('SalesLT', 'Customer', 'rowguid', 'uniqueidentifier'),
 ('SalesLT', 'Customer', 'ModifiedDate', 'datetime'),
 ('SalesLT', 'CustomerAddress', 'CustomerID', 'int'),
 ('SalesLT', 'CustomerAddress', 'AddressID', 'int'),
 ('SalesLT', 'CustomerAddress', 'AddressType', 'nvarchar'),
 ('SalesLT', 'CustomerAddress', 'rowguid', 'uniqueidentifier'),
 ('SalesLT', 'CustomerAddress', 'ModifiedDate', 'datetime'),
 ('SalesLT', 'Product', 'ProductID', 'int'),
 ('SalesLT', 'Product', 'Name', 'nvarchar'),
 ('SalesLT', 'Product', 'ProductNumber', 'nvarchar'),
 ('SalesLT', 'Product', 'Color', 'nvarchar'),
 ('SalesLT', 'Product', 'StandardCost', 'money'),
 ('SalesLT', 'Product', 'ListPrice', 'money'),
 ('SalesLT', 'Product', 'Size', 'nvarchar'),
 ('SalesLT', 'Product', 'Weight', 'decimal'),
 ('SalesLT', 'Product', 'ProductCategoryID', 'int'),
 ('SalesLT', 'Product', 'ProductModelID', 'int'),
 ('SalesLT', 'Product', 'SellStartDate', 'datetime'),
 ('SalesLT', 'Product', 'SellEndDate', 'datetime'),
 ('SalesLT', 'Product', 'DiscontinuedDate', 'datetime'),
 ('SalesLT', 'Product', 'ThumbNailPhoto', 'varbinary'),
 ('SalesLT', 'Product', 'ThumbnailPhotoFileName', 'nvarchar'),
 ('SalesLT', 'Product', 'rowguid', 'uniqueidentifier'),
 ('SalesLT', 'Product', 'ModifiedDate', 'datetime'),
 ('SalesLT', 'ProductCategory', 'ProductCategoryID', 'int'),
 ('SalesLT', 'ProductCategory', 'ParentProductCategoryID', 'int'),
 ('SalesLT', 'ProductCategory', 'Name', 'nvarchar'),
 ('SalesLT', 'ProductCategory', 'rowguid', 'uniqueidentifier'),
 ('SalesLT', 'ProductCategory', 'ModifiedDate', 'datetime'),
 ('SalesLT', 'ProductDescription', 'ProductDescriptionID', 'int'),
 ('SalesLT', 'ProductDescription', 'Description', 'nvarchar'),
 ('SalesLT', 'ProductDescription', 'rowguid', 'uniqueidentifier'),
 ('SalesLT', 'ProductDescription', 'ModifiedDate', 'datetime'),
 ('SalesLT', 'ProductModel', 'ProductModelID', 'int'),
 ('SalesLT', 'ProductModel', 'Name', 'nvarchar'),
 ('SalesLT', 'ProductModel', 'CatalogDescription', 'xml'),
 ('SalesLT', 'ProductModel', 'rowguid', 'uniqueidentifier'),
 ('SalesLT', 'ProductModel', 'ModifiedDate', 'datetime'),
 ('SalesLT', 'ProductModelProductDescription', 'ProductModelID', 'int'),
 ('SalesLT', 'ProductModelProductDescription', 'ProductDescriptionID', 'int'),
 ('SalesLT', 'ProductModelProductDescription', 'Culture', 'nchar'),
 ('SalesLT', 'ProductModelProductDescription', 'rowguid', 'uniqueidentifier'),
 ('SalesLT', 'ProductModelProductDescription', 'ModifiedDate', 'datetime'),
 ('SalesLT', 'SalesOrderDetail', 'SalesOrderID', 'int'),
 ('SalesLT', 'SalesOrderDetail', 'SalesOrderDetailID', 'int'),
 ('SalesLT', 'SalesOrderDetail', 'OrderQty', 'smallint'),
 ('SalesLT', 'SalesOrderDetail', 'ProductID', 'int'),
 ('SalesLT', 'SalesOrderDetail', 'UnitPrice', 'money'),
 ('SalesLT', 'SalesOrderDetail', 'UnitPriceDiscount', 'money'),
 ('SalesLT', 'SalesOrderDetail', 'LineTotal', 'numeric'),
 ('SalesLT', 'SalesOrderDetail', 'rowguid', 'uniqueidentifier'),
 ('SalesLT', 'SalesOrderDetail', 'ModifiedDate', 'datetime'),
 ('SalesLT', 'SalesOrderHeader', 'SalesOrderID', 'int'),
 ('SalesLT', 'SalesOrderHeader', 'RevisionNumber', 'tinyint'),
 ('SalesLT', 'SalesOrderHeader', 'OrderDate', 'datetime'),
 ('SalesLT', 'SalesOrderHeader', 'DueDate', 'datetime'),
 ('SalesLT', 'SalesOrderHeader', 'ShipDate', 'datetime'),
 ('SalesLT', 'SalesOrderHeader', 'Status', 'tinyint'),
 ('SalesLT', 'SalesOrderHeader', 'OnlineOrderFlag', 'bit'),
 ('SalesLT', 'SalesOrderHeader', 'SalesOrderNumber', 'nvarchar'),
 ('SalesLT', 'SalesOrderHeader', 'PurchaseOrderNumber', 'nvarchar'),
 ('SalesLT', 'SalesOrderHeader', 'AccountNumber', 'nvarchar'),
 ('SalesLT', 'SalesOrderHeader', 'CustomerID', 'int'),
 ('SalesLT', 'SalesOrderHeader', 'ShipToAddressID', 'int'),
 ('SalesLT', 'SalesOrderHeader', 'BillToAddressID', 'int'),
 ('SalesLT', 'SalesOrderHeader', 'ShipMethod', 'nvarchar'),
 ('SalesLT', 'SalesOrderHeader', 'CreditCardApprovalCode', 'varchar'),
 ('SalesLT', 'SalesOrderHeader', 'SubTotal', 'money'),
 ('SalesLT', 'SalesOrderHeader', 'TaxAmt', 'money'),
 ('SalesLT', 'SalesOrderHeader', 'Freight', 'money'),
 ('SalesLT', 'SalesOrderHeader', 'TotalDue', 'money'),
 ('SalesLT', 'SalesOrderHeader', 'Comment', 'nvarchar'),
 ('SalesLT', 'SalesOrderHeader', 'rowguid', 'uniqueidentifier'),
 ('SalesLT', 'SalesOrderHeader', 'ModifiedDate', 'datetime'),
 ('SalesLT', 'vGetAllCategories', 'ParentProductCategoryName', 'nvarchar'),
 ('SalesLT', 'vGetAllCategories', 'ProductCategoryName', 'nvarchar'),
 ('SalesLT', 'vGetAllCategories', 'ProductCategoryID', 'int'),
 ('SalesLT', 'vProductAndDescription', 'ProductID', 'int'),
 ('SalesLT', 'vProductAndDescription', 'Name', 'nvarchar'),
 ('SalesLT', 'vProductAndDescription', 'ProductModel', 'nvarchar'),
 ('SalesLT', 'vProductAndDescription', 'Culture', 'nchar'),
 ('SalesLT', 'vProductAndDescription', 'Description', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'ProductModelID', 'int'),
 ('SalesLT', 'vProductModelCatalogDescription', 'Name', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'Summary', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'Manufacturer', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'Copyright', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'ProductURL', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'WarrantyPeriod', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'WarrantyDescription', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'NoOfYears', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'MaintenanceDescription', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'Wheel', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'Saddle', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'Pedal', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'BikeFrame', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'Crankset', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'PictureAngle', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'PictureSize', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'ProductPhotoID', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'Material', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'Color', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'ProductLine', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'Style', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'RiderExperience', 'nvarchar'),
 ('SalesLT', 'vProductModelCatalogDescription', 'rowguid', 'uniqueidentifier'),
 ('SalesLT', 'vProductModelCatalogDescription', 'ModifiedDate', 'datetime')]

## Reports & Analysis

### **1. Comprehensive Product Reporting**

**<u>Business Need:**  
The product managers need a detailed product overview, including basic details, attributes, pricing, and profit margins to track performance.

In [107]:
%%sql
-- tasks:
-- First, we need to list all products, including name, product number, cost, and price.
-- Next, we calculate markup and combine color and size into a single field.
-- Finally, we ensure missing values (like color or size) are clearly indicated.

SELECT top 100
    ProductID,
    Name AS ProductName,
    ProductNumber,
    StandardCost,
    ListPrice,
    (ListPrice - StandardCost) AS Markup,
    COALESCE(NULLIF(Color, ''), 'No Color') + ' ' + COALESCE(NULLIF(Size, ''), 'No Size') AS FullProductDescription,
    CASE 
        WHEN ListPrice < 50 THEN 'Low'
        WHEN ListPrice BETWEEN 50 AND 500 THEN 'Medium'
        ELSE 'High'
    END AS PriceCategory
FROM SalesLT.Product
ORDER BY ListPrice DESC;

 * mssql+pyodbc://adventureworks-db:***@adventureworks-db.database.windows.net:1433/AdventureWorks?driver=ODBC+Driver+18+for+SQL+Server
Done.

[(753, 'Road-150 Red, 56', 'BK-R93R-56', Decimal('2171.2942'), Decimal('3578.2700'), Decimal('1406.9758'), 'Red 56', 'High'),
 (752, 'Road-150 Red, 52', 'BK-R93R-52', Decimal('2171.2942'), Decimal('3578.2700'), Decimal('1406.9758'), 'Red 52', 'High'),
 (751, 'Road-150 Red, 48', 'BK-R93R-48', Decimal('2171.2942'), Decimal('3578.2700'), Decimal('1406.9758'), 'Red 48', 'High'),
 (750, 'Road-150 Red, 44', 'BK-R93R-44', Decimal('2171.2942'), Decimal('3578.2700'), Decimal('1406.9758'), 'Red 44', 'High'),
 (749, 'Road-150 Red, 62', 'BK-R93R-62', Decimal('2171.2942'), Decimal('3578.2700'), Decimal('1406.9758'), 'Red 62', 'High'),
 (774, 'Mountain-100 Silver, 48', 'BK-M82S-48', Decimal('1912.1544'), Decimal('3399.9900'), Decimal('1487.8356'), 'Silver 48', 'High'),
 (773, 'Mountain-100 Silver, 44', 'BK-M82S-44', Decimal('1912.1544'), Decimal('3399.9900'), Decimal('1487.8356'), 'Silver 44', 'High'),
 (772, 'Mountain-100 Silver, 42', 'BK-M82S-42', Decimal('1912.1544'), Decimal('3399.9900'), Decimal('1487.8356'), 'Silver 42', 'High'),
 (771, 'Mountain-100 Silver, 38', 'BK-M82S-38', Decimal('1912.1544'), Decimal('3399.9900'), Decimal('1487.8356'), 'Silver 38', 'High'),
 (778, 'Mountain-100 Black, 48', 'BK-M82B-48', Decimal('1898.0944'), Decimal('3374.9900'), Decimal('1476.8956'), 'Black 48', 'High'),
 (777, 'Mountain-100 Black, 44', 'BK-M82B-44', Decimal('1898.0944'), Decimal('3374.9900'), Decimal('1476.8956'), 'Black 44', 'High'),
 (776, 'Mountain-100 Black, 42', 'BK-M82B-42', Decimal('1898.0944'), Decimal('3374.9900'), Decimal('1476.8956'), 'Black 42', 'High'),
 (775, 'Mountain-100 Black, 38', 'BK-M82B-38', Decimal('1898.0944'), Decimal('3374.9900'), Decimal('1476.8956'), 'Black 38', 'High'),
 (796, 'Road-250 Black, 58', 'BK-R89B-58', Decimal('1554.9479'), Decimal('2443.3500'), Decimal('888.4021'), 'Black 58', 'High'),
 (795, 'Road-250 Black, 52', 'BK-R89B-52', Decimal('1554.9479'), Decimal('2443.3500'), Decimal('888.4021'), 'Black 52', 'High'),
 (794, 'Road-250 Black, 48', 'BK-R89B-48', Decimal('1554.9479'), Decimal('2443.3500'), Decimal('888.4021'), 'Black 48', 'High'),
 (793, 'Road-250 Black, 44', 'BK-R89B-44', Decimal('1554.9479'), Decimal('2443.3500'), Decimal('888.4021'), 'Black 44', 'High'),
 (792, 'Road-250 Red, 58', 'BK-R89R-58', Decimal('1554.9479'), Decimal('2443.3500'), Decimal('888.4021'), 'Red 58', 'High'),
 (791, 'Road-250 Red, 52', 'BK-R89R-52', Decimal('1518.7864'), Decimal('2443.3500'), Decimal('924.5636'), 'Red 52', 'High'),
 (790, 'Road-250 Red, 48', 'BK-R89R-48', Decimal('1518.7864'), Decimal('2443.3500'), Decimal('924.5636'), 'Red 48', 'High'),
 (789, 'Road-250 Red, 44', 'BK-R89R-44', Decimal('1518.7864'), Decimal('2443.3500'), Decimal('924.5636'), 'Red 44', 'High'),
 (954, 'Touring-1000 Yellow, 46', 'BK-T79Y-46', Decimal('1481.9379'), Decimal('2384.0700'), Decimal('902.1321'), 'Yellow 46', 'High'),
 (955, 'Touring-1000 Yellow, 50', 'BK-T79Y-50', Decimal('1481.9379'), Decimal('2384.0700'), Decimal('902.1321'), 'Yellow 50', 'High'),
 (956, 'Touring-1000 Yellow, 54', 'BK-T79Y-54', Decimal('1481.9379'), Decimal('2384.0700'), Decimal('902.1321'), 'Yellow 54', 'High'),
 (957, 'Touring-1000 Yellow, 60', 'BK-T79Y-60', Decimal('1481.9379'), Decimal('2384.0700'), Decimal('902.1321'), 'Yellow 60', 'High'),
 (966, 'Touring-1000 Blue, 46', 'BK-T79U-46', Decimal('1481.9379'), Decimal('2384.0700'), Decimal('902.1321'), 'Blue 46', 'High'),
 (967, 'Touring-1000 Blue, 50', 'BK-T79U-50', Decimal('1481.9379'), Decimal('2384.0700'), Decimal('902.1321'), 'Blue 50', 'High'),
 (968, 'Touring-1000 Blue, 54', 'BK-T79U-54', Decimal('1481.9379'), Decimal('2384.0700'), Decimal('902.1321'), 'Blue 54', 'High'),
 (969, 'Touring-1000 Blue, 60', 'BK-T79U-60', Decimal('1481.9379'), Decimal('2384.0700'), Decimal('902.1321'), 'Blue 60', 'High'),
 (781, 'Mountain-200 Silver, 46', 'BK-M68S-46', Decimal('1265.6195'), Decimal('2319.9900'), Decimal('1054.3705'), 'Silver 46', 'High'),
 (780, 'Mountain-200 Silver, 42', 'BK-M68S-42', Decimal('1265.6195'), Decimal('2319.9900'), Decimal('1054.3705'), 'Silver 42', 'High'),
 (779, 'Mountain-200 Silver, 38', 'BK-M68S-38', Decimal('1265.6195'), Decimal('2319.9900'), Decimal('1054.3705'), 'Silver 38', 'High'),
 (784, 'Mountain-200 Black, 46', 'BK-M68B-46', Decimal('1251.9813'), Decimal('2294.9900'), Decimal('1043.0087'), 'Black 46', 'High'),
 (783, 'Mountain-200 Black, 42', 'BK-M68B-42', Decimal('1251.9813'), Decimal('2294.9900'), Decimal('1043.0087'), 'Black 42', 'High'),
 (782, 'Mountain-200 Black, 38', 'BK-M68B-38', Decimal('1251.9813'), Decimal('2294.9900'), Decimal('1043.0087'), 'Black 38', 'High'),
 (973, 'Road-350-W Yellow, 40', 'BK-R79Y-40', Decimal('1082.5100'), Decimal('1700.9900'), Decimal('618.4800'), 'Yellow 40', 'High'),
 (974, 'Road-350-W Yellow, 42', 'BK-R79Y-42', Decimal('1082.5100'), Decimal('1700.9900'), Decimal('618.4800'), 'Yellow 42', 'High'),
 (975, 'Road-350-W Yellow, 44', 'BK-R79Y-44', Decimal('1082.5100'), Decimal('1700.9900'), Decimal('618.4800'), 'Yellow 44', 'High'),
 (976, 'Road-350-W Yellow, 48', 'BK-R79Y-48', Decimal('1082.5100'), Decimal('1700.9900'), Decimal('618.4800'), 'Yellow 48', 'High'),
 (758, 'Road-450 Red, 52', 'BK-R68R-52', Decimal('884.7083'), Decimal('1457.9900'), Decimal('573.2817'), 'Red 52', 'High'),
 (757, 'Road-450 Red, 48', 'BK-R68R-48', Decimal('884.7083'), Decimal('1457.9900'), Decimal('573.2817'), 'Red 48', 'High'),
 (756, 'Road-450 Red, 44', 'BK-R68R-44', Decimal('884.7083'), Decimal('1457.9900'), Decimal('573.2817'), 'Red 44', 'High'),
 (755, 'Road-450 Red, 60', 'BK-R68R-60', Decimal('884.7083'), Decimal('1457.9900'), Decimal('573.2817'), 'Red 60', 'High'),
 (754, 'Road-450 Red, 58', 'BK-R68R-58', Decimal('884.7083'), Decimal('1457.9900'), Decimal('573.2817'), 'Red 58', 'High'),
 (721, 'HL Road Frame - Red, 56', 'FR-R92R-56', Decimal('868.6342'), Decimal('1431.5000'), Decimal('562.8658'), 'Red 56', 'High'),
 (720, 'HL Road Frame - Red, 52', 'FR-R92R-52', Decimal('868.6342'), Decimal('1431.5000'), Decimal('562.8658'), 'Red 52', 'High'),
 (719, 'HL Road Frame - Red, 48', 'FR-R92R-48', Decimal('868.6342'), Decimal('1431.5000'), Decimal('562.8658'), 'Red 48', 'High'),
 (718, 'HL Road Frame - Red, 44', 'FR-R92R-44', Decimal('868.6342'), Decimal('1431.5000'), Decimal('562.8658'), 'Red 44', 'High'),
 (717, 'HL Road Frame - Red, 62', 'FR-R92R-62', Decimal('868.6342'), Decimal('1431.5000'), Decimal('562.8658'), 'Red 62', 'High'),
 (706, 'HL Road Frame - Red, 58', 'FR-R92R-58', Decimal('1059.3100'), Decimal('1431.5000'), Decimal('372.1900'), 'Red 58', 'High'),
 (680, 'HL Road Frame - Black, 58', 'FR-R92B-58', Decimal('1059.3100'), Decimal('1431.5000'), Decimal('372.1900'), 'Black 58', 'High'),
 (837, 'HL Road Frame - Black, 62', 'FR-R92B-62', Decimal('868.6342'), Decimal('1431.5000'), Decimal('562.8658'), 'Black 62', 'High'),
 (838, 'HL Road Frame - Black, 44', 'FR-R92B-44', Decimal('868.6342'), Decimal('1431.5000'), Decimal('562.8658'), 'Black 44', 'High'),
 (839, 'HL Road Frame - Black, 48', 'FR-R92B-48', Decimal('868.6342'), Decimal('1431.5000'), Decimal('562.8658'), 'Black 48', 'High'),
 (840, 'HL Road Frame - Black, 52', 'FR-R92B-52', Decimal('868.6342'), Decimal('1431.5000'), Decimal('562.8658'), 'Black 52', 'High'),
 (742, 'HL Mountain Frame - Silver, 46', 'FR-M94S-46', Decimal('747.2002'), Decimal('1364.5000'), Decimal('617.2998'), 'Silver 46', 'High'),
 (741, 'HL Mountain Frame - Silver, 48', 'FR-M94S-52', Decimal('706.8110'), Decimal('1364.5000'), Decimal('657.6890'), 'Silver 48', 'High'),
 (740, 'HL Mountain Frame - Silver, 44', 'FR-M94S-44', Decimal('706.8110'), Decimal('1364.5000'), Decimal('657.6890'), 'Silver 44', 'High'),
 (739, 'HL Mountain Frame - Silver, 42', 'FR-M94S-42', Decimal('747.2002'), Decimal('1364.5000'), Decimal('617.2998'), 'Silver 42', 'High'),
 (748, 'HL Mountain Frame - Silver, 38', 'FR-M94S-38', Decimal('747.2002'), Decimal('1364.5000'), Decimal('617.2998'), 'Silver 38', 'High'),
 (747, 'HL Mountain Frame - Black, 38', 'FR-M94B-38', Decimal('739.0410'), Decimal('1349.6000'), Decimal('610.5590'), 'Black 38', 'High'),
 (746, 'HL Mountain Frame - Black, 46', 'FR-M94B-46', Decimal('739.0410'), Decimal('1349.6000'), Decimal('610.5590'), 'Black 46', 'High'),
 (745, 'HL Mountain Frame - Black, 48', 'FR-M94B-48', Decimal('699.0928'), Decimal('1349.6000'), Decimal('650.5072'), 'Black 48', 'High'),
 (744, 'HL Mountain Frame - Black, 44', 'FR-M94B-44', Decimal('699.0928'), Decimal('1349.6000'), Decimal('650.5072'), 'Black 44', 'High'),
 (743, 'HL Mountain Frame - Black, 42', 'FR-M94B-42', Decimal('739.0410'), Decimal('1349.6000'), Decimal('610.5590'), 'Black 42', 'High'),
 (953, 'Touring-2000 Blue, 60', 'BK-T44U-60', Decimal('755.1508'), Decimal('1214.8500'), Decimal('459.6992'), 'Blue 60', 'High'),
 (970, 'Touring-2000 Blue, 46', 'BK-T44U-46', Decimal('755.1508'), Decimal('1214.8500'), Decimal('459.6992'), 'Blue 46', 'High'),
 (971, 'Touring-2000 Blue, 50', 'BK-T44U-50', Decimal('755.1508'), Decimal('1214.8500'), Decimal('459.6992'), 'Blue 50', 'High'),
 (972, 'Touring-2000 Blue, 54', 'BK-T44U-54', Decimal('755.1508'), Decimal('1214.8500'), Decimal('459.6992'), 'Blue 54', 'High'),
 (801, 'Road-550-W Yellow, 48', 'BK-R64Y-48', Decimal('713.0798'), Decimal('1120.4900'), Decimal('407.4102'), 'Yellow 48', 'High'),
 (800, 'Road-550-W Yellow, 44', 'BK-R64Y-44', Decimal('713.0798'), Decimal('1120.4900'), Decimal('407.4102'), 'Yellow 44', 'High'),
 (799, 'Road-550-W Yellow, 42', 'BK-R64Y-42', Decimal('713.0798'), Decimal('1120.4900'), Decimal('407.4102'), 'Yellow 42', 'High'),
 (798, 'Road-550-W Yellow, 40', 'BK-R64Y-40', Decimal('713.0798'), Decimal('1120.4900'), Decimal('407.4102'), 'Yellow 40', 'High'),
 (797, 'Road-550-W Yellow, 38', 'BK-R64Y-38', Decimal('713.0798'), Decimal('1120.4900'), Decimal('407.4102'), 'Yellow 38', 'High'),
 (788, 'Mountain-300 Black, 48', 'BK-M47B-48', Decimal('598.4354'), Decimal('1079.9900'), Decimal('481.5546'), 'Black 48', 'High'),
 (787, 'Mountain-300 Black, 44', 'BK-M47B-44', Decimal('598.4354'), Decimal('1079.9900'), Decimal('481.5546'), 'Black 44', 'High'),
 (786, 'Mountain-300 Black, 40', 'BK-M47B-40', Decimal('598.4354'), Decimal('1079.9900'), Decimal('481.5546'), 'Black 40', 'High'),
 (785, 'Mountain-300 Black, 38', 'BK-M47B-38', Decimal('598.4354'), Decimal('1079.9900'), Decimal('481.5546'), 'Black 38', 'High'),
 (885, 'HL Touring Frame - Yellow, 60', 'FR-T98Y-60', Decimal('601.7437'), Decimal('1003.9100'), Decimal('402.1663'), 'Yellow 60', 'High'),
 (887, 'HL Touring Frame - Yellow, 46', 'FR-T98Y-46', Decimal('601.7437'), Decimal('1003.9100'), Decimal('402.1663'), 'Yellow 46', 'High'),
 (888, 'HL Touring Frame - Yellow, 50', 'FR-T98Y-50', Decimal('601.7437'), Decimal('1003.9100'), Decimal('402.1663'), 'Yellow 50', 'High'),
 (889, 'HL Touring Frame - Yellow, 54', 'FR-T98Y-54', Decimal('601.7437'), Decimal('1003.9100'), Decimal('402.1663'), 'Yellow 54', 'High'),
 (890, 'HL Touring Frame - Blue, 46', 'FR-T98U-46', Decimal('601.7437'), Decimal('1003.9100'), Decimal('402.1663'), 'Blue 46', 'High'),
 (891, 'HL Touring Frame - Blue, 50', 'FR-T98U-50', Decimal('601.7437'), Decimal('1003.9100'), Decimal('402.1663'), 'Blue 50', 'High'),
 (892, 'HL Touring Frame - Blue, 54', 'FR-T98U-54', Decimal('601.7437'), Decimal('1003.9100'), Decimal('402.1663'), 'Blue 54', 'High'),
 (893, 'HL Touring Frame - Blue, 60', 'FR-T98U-60', Decimal('601.7437'), Decimal('1003.9100'), Decimal('402.1663'), 'Blue 60', 'High'),
 (770, 'Road-650 Black, 52', 'BK-R50B-52', Decimal('486.7066'), Decimal('782.9900'), Decimal('296.2834'), 'Black 52', 'High'),
 (769, 'Road-650 Black, 48', 'BK-R50B-48', Decimal('486.7066'), Decimal('782.9900'), Decimal('296.2834'), 'Black 48', 'High'),
 (768, 'Road-650 Black, 44', 'BK-R50B-44', Decimal('486.7066'), Decimal('782.9900'), Decimal('296.2834'), 'Black 44', 'High'),
 (767, 'Road-650 Black, 62', 'BK-R50B-62', Decimal('486.7066'), Decimal('782.9900'), Decimal('296.2834'), 'Black 62', 'High'),
 (766, 'Road-650 Black, 60', 'BK-R50B-60', Decimal('486.7066'), Decimal('782.9900'), Decimal('296.2834'), 'Black 60', 'High'),
 (765, 'Road-650 Black, 58', 'BK-R50B-58', Decimal('486.7066'), Decimal('782.9900'), Decimal('296.2834'), 'Black 58', 'High'),
 (764, 'Road-650 Red, 52', 'BK-R50R-52', Decimal('486.7066'), Decimal('782.9900'), Decimal('296.2834'), 'Red 52', 'High'),
 (763, 'Road-650 Red, 48', 'BK-R50R-48', Decimal('486.7066'), Decimal('782.9900'), Decimal('296.2834'), 'Red 48', 'High'),
 (762, 'Road-650 Red, 44', 'BK-R50R-44', Decimal('486.7066'), Decimal('782.9900'), Decimal('296.2834'), 'Red 44', 'High'),
 (761, 'Road-650 Red, 62', 'BK-R50R-62', Decimal('486.7066'), Decimal('782.9900'), Decimal('296.2834'), 'Red 62', 'High'),
 (760, 'Road-650 Red, 60', 'BK-R50R-60', Decimal('486.7066'), Decimal('782.9900'), Decimal('296.2834'), 'Red 60', 'High'),
 (759, 'Road-650 Red, 58', 'BK-R50R-58', Decimal('486.7066'), Decimal('782.9900'), Decimal('296.2834'), 'Red 58', 'High'),
 (980, 'Mountain-400-W Silver, 38', 'BK-M38S-38', Decimal('419.7784'), Decimal('769.4900'), Decimal('349.7116'), 'Silver 38', 'High'),
 (981, 'Mountain-400-W Silver, 40', 'BK-M38S-40', Decimal('419.7784'), Decimal('769.4900'), Decimal('349.7116'), 'Silver 40', 'High')]

### **2. Customer and Order Insights**

**Business Need:**  
The sales team wants a full view of customers and their orders, including contact details and non-buying customers for targeted outreach.

In [108]:
%%sql

-- tasks:
--  First, we need to create a customer profile report with full names, company names, and primary contact details in a clear, readable format.
-- Next, we generate order summaries, listing order IDs, dates, and total due amounts (including item subtotals, taxes, and freight).
-- Finally, we ensure that missing customer or order details are clearly indicated, preventing errors or blank fields.
SELECT top 100
    c.CustomerID,
    COALESCE(c.Title + ' ', '') + c.FirstName + ' ' + COALESCE(c.MiddleName + ' ', '') + c.LastName AS FullCustomerName,
    c.CompanyName,
    COALESCE(NULLIF(c.EmailAddress, ''), c.Phone, 'No Contact Info') AS PrimaryContact,
    COUNT(oh.SalesOrderID) AS NumberOfOrders,
    COALESCE(SUM(oh.SubTotal + oh.TaxAmt + oh.Freight), 0) AS TotalRevenue
FROM SalesLT.Customer AS c
LEFT JOIN SalesLT.SalesOrderHeader AS oh
    ON c.CustomerID = oh.CustomerID
GROUP BY c.CustomerID, c.Title, c.FirstName, c.MiddleName, c.LastName, c.CompanyName, c.EmailAddress, c.Phone
ORDER BY NumberOfOrders DESC;

 * mssql+pyodbc://adventureworks-db:***@adventureworks-db.database.windows.net:1433/AdventureWorks?driver=ODBC+Driver+18+for+SQL+Server
Done.

[(29485, 'Ms. Catherine R. Abel', 'Professional Sales and Service', 'catherine0@adventure-works.com', 1, Decimal('43962.7901')),
 (29531, 'Mr. Cory K. Booth', 'Remarkable Bike Store', 'cory0@adventure-works.com', 1, Decimal('7330.8972')),
 (29546, 'Mr. Christopher R. Beck', 'Bulk Discount Store', 'christopher1@adventure-works.com', 1, Decimal('98138.2131')),
 (29568, 'Mr. Donald L. Blanton', 'Coalition Bike Company', 'donald0@adventure-works.com', 1, Decimal('2669.3183')),
 (29584, 'Mr. Walter J. Brian', 'Futuristic Bikes', 'walter0@adventure-works.com', 1, Decimal('272.6468')),
 (29612, 'Mr. Richard A. Byham', 'Channel Outlet', 'richard2@adventure-works.com', 1, Decimal('608.1766')),
 (29638, 'Ms. Rosmarie J. Carroll', 'Aerobic Exercise Company', 'rosmarie0@adventure-works.com', 1, Decimal('2361.6403')),
 (29644, 'Ms. Brigid F. Cavendish', 'Vigorous Sports Store', 'brigid0@adventure-works.com', 1, Decimal('1170.5376')),
 (29653, 'Mr. Pei Chow', 'Thrilling Bike Tours', 'pei0@adventure-works.com', 1, Decimal('15275.1977')),
 (29660, 'Mr. Anthony Chor', 'Extreme Riding Supplies', 'anthony0@adventure-works.com', 1, Decimal('63686.2708')),
 (29736, 'Mr. Terry Eminhizer', 'Action Bicycle Specialists', 'terry1@adventure-works.com', 1, Decimal('119960.8240')),
 (29741, 'Sra. Janeth Esteves', 'Central Bicycle Specialists', 'janeth1@adventure-works.com', 1, Decimal('43.0437')),
 (29781, 'Mr. Guy Gilbert', 'The Bicycle Accessories Company', 'guy0@adventure-works.com', 1, Decimal('117.7276')),
 (29796, 'Mr. Jon Grande', 'Riding Cycles', 'jon1@adventure-works.com', 1, Decimal('86222.8072')),
 (29847, 'Mr. David Hodgson', 'Good Toys', 'david16@adventure-works.com', 1, Decimal('972.7850')),
 (29877, 'Ms. Joyce Jarvis', 'Paints and Solvents Company', 'joyce0@adventure-works.com', 1, Decimal('14017.9083')),
 (29922, 'Ms. Pamala M. Kotc', 'Closest Bicycle Store', 'pamala0@adventure-works.com', 1, Decimal('39531.6085')),
 (29929, 'Mr. Jeffrey Kurtz', 'Many Bikes Store', 'jeffrey3@adventure-works.com', 1, Decimal('81834.9826')),
 (29932, 'Ms. Rebecca Laszlo', 'Instruments and Parts Company', 'rebecca2@adventure-works.com', 1, Decimal('70698.9922')),
 (29938, 'Mr. Frank Campbell', 'Trailblazing Sports', 'frank4@adventure-works.com', 1, Decimal('45992.3665')),
 (29957, 'Mr. Kevin Liu', 'Eastside Department Store', 'kevin5@adventure-works.com', 1, Decimal('92663.5609')),
 (29975, 'Mr. Walter J. Mays', 'Sports Products Store', 'walter1@adventure-works.com', 1, Decimal('3673.3249')),
 (29982, 'Ms. Melissa R. Marple', 'Discount Tours', 'melissa0@adventure-works.com', 1, Decimal('3293.7761')),
 (30019, 'Mr. Matthew J. Miller', 'Tachometers and Accessories', 'matthew5@adventure-works.com', 1, Decimal('2228.0566')),
 (30025, 'Ms. Linda Mitchell', 'Essential Bike Works', 'linda9@adventure-works.com', 1, Decimal('45.1995')),
 (30027, 'Mr. Joseph P. Mitzner', 'Engineered Bike Systems', 'joseph4@adventure-works.com', 1, Decimal('3754.9733')),
 (30033, 'Mr. Vassar J. Stern', 'Transport Bikes', 'vassar0@adventure-works.com', 1, Decimal('665.4251')),
 (30050, 'Mr. Krishna Sunkammurali', 'Metropolitan Bicycle Supply', 'krishna1@adventure-works.com', 1, Decimal('108597.9536')),
 (30072, 'Ms. Andrea A. Thomsen', 'West Side Mart', 'andrea1@adventure-works.com', 1, Decimal('87.0851')),
 (30089, 'Mr. Michael John R. Troyer', 'Thrifty Parts and Sales', 'michaeljohn0@adventure-works.com', 1, Decimal('1261.4440')),
 (30102, 'Mr. Roger Van Houten', 'Sports Store', 'roger2@adventure-works.com', 1, Decimal('2711.4098')),
 (30113, 'Mr. Raja D. Venugopal', 'Nearby Cycle Shop', 'raja0@adventure-works.com', 1, Decimal('42452.6519')),
 (163, 'Mr. Andrew Cencini', 'Sports Merchandise', 'andrew2@adventure-works.com', 0, Decimal('0.0000')),
 (160, 'Ms. Brigid F. Cavendish', 'Vigorous Sports Store', 'brigid0@adventure-works.com', 0, Decimal('0.0000')),
 (156, 'Mr. Lester J. Bowman', 'Metal Processing Company', 'lester0@adventure-works.com', 0, Decimal('0.0000')),
 (155, 'Mr. Joseph N. Castellucio', 'Corner Bicycle Supply', 'joseph1@adventure-works.com', 0, Decimal('0.0000')),
 (154, 'Mr. Carlton M. Carlisle', 'Camping and Sports Store', 'carlton0@adventure-works.com', 0, Decimal('0.0000')),
 (151, 'Mr. Walter J. Brian', 'Futuristic Bikes', 'walter0@adventure-works.com', 0, Decimal('0.0000')),
 (150, 'Ms. Jill J. Christie', 'Fleet Bikes', 'jill1@adventure-works.com', 0, Decimal('0.0000')),
 (149, 'Mr. Cornelius L. Brandon', 'Initial Bike Company', 'cornelius0@adventure-works.com', 0, Decimal('0.0000')),
 (148, 'Mr. Alan Brewer', 'Lots of Bikes Storehouse', 'alan1@adventure-works.com', 0, Decimal('0.0000')),
 (147, 'Ms. Alice Clark', 'Local Hardware Factory', 'alice1@adventure-works.com', 0, Decimal('0.0000')),
 (146, 'Mr. Richard Bready', 'Latest Sports Equipment', 'richard1@adventure-works.com', 0, Decimal('0.0000')),
 (145, 'Mr. Ted Bremer', 'Raw Materials Inc', 'ted0@adventure-works.com', 0, Decimal('0.0000')),
 (142, 'Mr. Jon Grande', 'Riding Cycles', 'jon1@adventure-works.com', 0, Decimal('0.0000')),
 (138, 'Ms. Jane Clayton', 'South Bike Company', 'jane1@adventure-works.com', 0, Decimal('0.0000')),
 (137, 'Gytis M Barzdukas', 'Transportation Options', 'gytis0@adventure-works.com', 0, Decimal('0.0000')),
 (136, 'Mr. Derek Graham', 'Wholesale Parts', 'derek0@adventure-works.com', 0, Decimal('0.0000')),
 (133, 'Mr. Michael Graff', 'Commercial Sporting Goods', 'michael16@adventure-works.com', 0, Decimal('0.0000')),
 (132, 'Ms. Teanna M. Cobb', 'Another Sporting Goods Company', 'teanna0@adventure-works.com', 0, Decimal('0.0000')),
 (131, 'Ms. Vanessa J. Tench', 'Eighth Bike Store', 'vanessa0@adventure-works.com', 0, Decimal('0.0000')),
 (130, 'Mr. Paulo H. Lisboa', 'Elite Bikes', 'paulo0@adventure-works.com', 0, Decimal('0.0000')),
 (129, 'Ms. Connie L. Coffman', 'Discount Bicycle Specialists', 'connie0@adventure-works.com', 0, Decimal('0.0000')),
 (128, 'Ms. Judy J. Thames', 'Demand Distributors', 'judy3@adventure-works.com', 0, Decimal('0.0000')),
 (127, 'Mr. Joseph M. Lique', 'Front Sporting Goods', 'joseph2@adventure-works.com', 0, Decimal('0.0000')),
 (124, 'Ms. Yuhong Li', 'Nearby Sporting Goods', 'yuhong1@adventure-works.com', 0, Decimal('0.0000')),
 (120, 'Mr. Pat Coleman', 'Machines & Cycles Store', 'pat2@adventure-works.com', 0, Decimal('0.0000')),
 (119, 'Ms. Phyllis A. Thomas', 'Red Bicycle Company', 'phyllis2@adventure-works.com', 0, Decimal('0.0000')),
 (118, 'Mr. Yale Li', 'Rapid Bikes', 'yale0@adventure-works.com', 0, Decimal('0.0000')),
 (115, 'Mr. George Z. Li', 'Security Racks and Locks Wholesalers', 'george3@adventure-works.com', 0, Decimal('0.0000')),
 (114, 'Mr. John L. Colon', 'Two Wheels Cycle Store', 'john14@adventure-works.com', 0, Decimal('0.0000')),
 (113, 'Mr. Donald M. Thompson', 'Trendy Department Stores', 'donald1@adventure-works.com', 0, Decimal('0.0000')),
 (112, 'Ms. Elsie L. Lewin', 'Town Industries', 'elsie0@adventure-works.com', 0, Decimal('0.0000')),
 (111, 'Mr. Scott A. Colvin', 'Westside Cycle Store', 'scott1@adventure-works.com', 0, Decimal('0.0000')),
 (110, 'Ms. Kendra N. Thompson', 'Vintage Sport Boutique', 'kendra0@adventure-works.com', 0, Decimal('0.0000')),
 (109, 'Mr. Daniel P. Thompson', 'Travel Sports', 'daniel2@adventure-works.com', 0, Decimal('0.0000')),
 (106, 'Ms. Andrea A. Thomsen', 'West Side Mart', 'andrea1@adventure-works.com', 0, Decimal('0.0000')),
 (102, 'Ms. Linda Leste', 'National Manufacturing', 'linda7@adventure-works.com', 0, Decimal('0.0000')),
 (101, 'Mr. William J. Conner', 'Urban Sports Emporium', 'william1@adventure-works.com', 0, Decimal('0.0000')),
 (100, 'Mr. Kirk T King', 'Up-To-Date Sports', 'kirk2@adventure-works.com', 0, Decimal('0.0000')),
 (97, 'Mr. Eugene Kogan', 'Mountain Bike Center', 'eugene2@adventure-works.com', 0, Decimal('0.0000')),
 (96, 'Ms. Bonnie B. Lepro', 'More Bikes!', 'bonnie2@adventure-works.com', 0, Decimal('0.0000')),
 (95, 'Ms. Jane N. Carmichael', 'Rural Department Store', 'jane0@adventure-works.com', 0, Decimal('0.0000')),
 (94, 'Mr. Scott Konersmann', 'Specialty Sports Store', 'scott6@adventure-works.com', 0, Decimal('0.0000')),
 (93, 'Mr. Prashanth Desai', 'Stationary Bikes and Stands', 'prashanth0@adventure-works.com', 0, Decimal('0.0000')),
 (92, 'Ms. Jovita A. Carmody', 'Sports Commodities', 'jovita0@adventure-works.com', 0, Decimal('0.0000')),
 (91, 'Ms. Joy R. Koski', 'Scooters and Bikes Store', 'joy0@adventure-works.com', 0, Decimal('0.0000')),
 (88, 'Ms. Pamala M. Kotc', 'Closest Bicycle Store', 'pamala0@adventure-works.com', 0, Decimal('0.0000')),
 (84, 'Ms. Della F. Demott Jr', 'Rewarding Activities Company', 'della0@adventure-works.com', 0, Decimal('0.0000')),
 (83, 'Mr. Eric J. Brumfield', 'Requisite Part Supply', 'eric3@adventure-works.com', 0, Decimal('0.0000')),
 (82, 'Mr. James D. Kramer', 'Refined Department Stores', 'james10@adventure-works.com', 0, Decimal('0.0000')),
 (79, 'Mr. Mitch Kennedy', 'Reasonable Bicycle Sales', 'mitch0@adventure-works.com', 0, Decimal('0.0000')),
 (78, 'Mr. Stefan Delmarco', 'Preferred Bikes', 'stefan0@adventure-works.com', 0, Decimal('0.0000')),
 (77, 'Mr. Michael Brundage', 'Mechanical Products Ltd.', 'michael13@adventure-works.com', 0, Decimal('0.0000')),
 (76, 'Mr. James J. Krow', 'Out-of-the-Way Hotels', 'james11@adventure-works.com', 0, Decimal('0.0000')),
 (75, 'Ms. Aidan Delaney', 'Paint Supply', 'aidan0@adventure-works.com', 0, Decimal('0.0000')),
 (74, 'Mr. Christopher M. Bright', 'Parcel Express Delivery Service', 'christopher2@adventure-works.com', 0, Decimal('0.0000')),
 (73, 'Ms. Margaret T. Krupka', 'Outdoor Sports Supply', 'margaret1@adventure-works.com', 0, Decimal('0.0000')),
 (70, 'Mr. Deepak Kumar', 'Outdoor Aerobic Systems Company', 'deepak0@adventure-works.com', 0, Decimal('0.0000')),
 (66, 'Mr. Alexander J. Deborde', 'Neighborhood Store', 'alexander1@adventure-works.com', 0, Decimal('0.0000')),
 (65, 'Ms. Jane P. Greer', 'Metro Manufacturing', 'jane2@adventure-works.com', 0, Decimal('0.0000')),
 (64, 'Mr. Vamsi Kuppa', 'Metal Clearing House', 'vamsi1@adventure-works.com', 0, Decimal('0.0000')),
 (61, 'Mr. Jeffrey Kurtz', 'Many Bikes Store', 'jeffrey3@adventure-works.com', 0, Decimal('0.0000')),
 (60, 'Mr. Sean J. Lunt', 'Main Bicycle Services', 'sean4@adventure-works.com', 0, Decimal('0.0000')),
 (59, 'Mr. Douglas Groncki', 'Locks Company', 'douglas2@adventure-works.com', 0, Decimal('0.0000')),
 (58, 'Mr. Peter Kurniawan', 'Largest Bike Store', 'peter4@adventure-works.com', 0, Decimal('0.0000')),
 (57, 'Ms. Judy R. Lundahl', 'Leading Sales & Repair', 'judy1@adventure-works.com', 0, Decimal('0.0000')),
 (56, 'Mr. Brian Groth', 'Latest Accessories Sales', 'brian5@adventure-works.com', 0, Decimal('0.0000')),
 (55, 'Mr. Eric Lang', 'Kickstands and Accessories Company', 'eric6@adventure-works.com', 0, Decimal('0.0000')),
 (52, 'Ms. Rebecca Laszlo', 'Instruments and Parts Company', 'rebecca2@adventure-works.com', 0, Decimal('0.0000'))]

### **3. Product Category and Hierarchy Analysis**

**Business Need:**  
Marketing needs a structured view of product categories, showing main categories, subcategories, and product distribution.

In [109]:
%%sql
-- Tasks:
-- we need to create a category listing that displays each product category along with its subcategories and lists all products within them.
-- Next, we ensure the report clearly shows parent-child relationships, making it easy to see how main categories and subcategories are structured (e.g., “Bikes” → “Mountain Bikes”).

SELECT top 100
    COALESCE(pcat.Name, 'Uncategorized') AS ParentCategory,
    COALESCE(cat.Name, 'No Subcategory') AS SubCategory,
    COUNT(p.ProductID) AS TotalProducts
FROM SalesLT.ProductCategory AS cat
LEFT JOIN SalesLT.ProductCategory AS pcat
    ON cat.ParentProductCategoryID = pcat.ProductCategoryID
LEFT JOIN SalesLT.Product AS p
    ON cat.ProductCategoryID = p.ProductCategoryID
GROUP BY pcat.Name, cat.Name
ORDER BY ParentCategory, SubCategory;

 * mssql+pyodbc://adventureworks-db:***@adventureworks-db.database.windows.net:1433/AdventureWorks?driver=ODBC+Driver+18+for+SQL+Server
Done.

[('Accessories', 'Bike Racks', 1),
 ('Accessories', 'Bike Stands', 1),
 ('Accessories', 'Bottles and Cages', 3),
 ('Accessories', 'Cleaners', 1),
 ('Accessories', 'Fenders', 1),
 ('Accessories', 'Helmets', 3),
 ('Accessories', 'Hydration Packs', 1),
 ('Accessories', 'Lights', 3),
 ('Accessories', 'Locks', 1),
 ('Accessories', 'Panniers', 1),
 ('Accessories', 'Pumps', 2),
 ('Accessories', 'Tires and Tubes', 11),
 ('Bikes', 'Mountain Bikes', 32),
 ('Bikes', 'Road Bikes', 43),
 ('Bikes', 'Touring Bikes', 22),
 ('Clothing', 'Bib-Shorts', 3),
 ('Clothing', 'Caps', 1),
 ('Clothing', 'Gloves', 6),
 ('Clothing', 'Jerseys', 8),
 ('Clothing', 'Shorts', 7),
 ('Clothing', 'Socks', 4),
 ('Clothing', 'Tights', 3),
 ('Clothing', 'Vests', 3),
 ('Components', 'Bottom Brackets', 3),
 ('Components', 'Brakes', 2),
 ('Components', 'Chains', 1),
 ('Components', 'Cranksets', 3),
 ('Components', 'Derailleurs', 2),
 ('Components', 'Forks', 3),
 ('Components', 'Handlebars', 8),
 ('Components', 'Headsets', 3),
 ('Components', 'Mountain Frames', 28),
 ('Components', 'Pedals', 7),
 ('Components', 'Road Frames', 33),
 ('Components', 'Saddles', 9),
 ('Components', 'Touring Frames', 18),
 ('Components', 'Wheels', 14),
 ('Uncategorized', 'Accessories', 0),
 ('Uncategorized', 'Bikes', 0),
 ('Uncategorized', 'Clothing', 0),
 ('Uncategorized', 'Components', 0)]

### **4. Advanced Sales Analysis and Aggregation**

**Business Need:**  
The sales team requested summary reports on sales performance, including total sales, average sales per product, and top-performing items.

In [110]:
%%sql
-- Task_1:
-- First, we need to aggregate sales by product, summing up the total units sold per product and ordering the results from highest to lowest sales.
-- Next, we create a sales summary by salesperson, showing total revenue and the number of customers managed.
-- Excluding salespeople below a set customer threshold.
-- We ensure flexible filtering, allowing reports to be refined based on price thresholds, date ranges, or other conditions.
    p.ProductID,
    p.Name AS ProductName,
    p.ListPrice,
    SUM(od.OrderQty) AS TotalUnitsSold,
    AVG(od.UnitPrice) AS AverageSellingPrice
FROM SalesLT.Product AS p
JOIN SalesLT.SalesOrderDetail AS od
    ON p.ProductID = od.ProductID
WHERE p.ListPrice > 1000
GROUP BY p.ProductID, p.Name, p.ListPrice
HAVING SUM(od.OrderQty) > 20
ORDER BY TotalUnitsSold DESC;

 * mssql+pyodbc://adventureworks-db:***@adventureworks-db.database.windows.net:1433/AdventureWorks?driver=ODBC+Driver+18+for+SQL+Server
Done.

[(976, 'Road-350-W Yellow, 48', Decimal('1700.9900'), 42, Decimal('986.5742')),
 (783, 'Mountain-200 Black, 42', Decimal('2294.9900'), 27, Decimal('1376.9940')),
 (969, 'Touring-1000 Blue, 60', Decimal('2384.0700'), 26, Decimal('1430.4420')),
 (782, 'Mountain-200 Black, 38', Decimal('2294.9900'), 26, Decimal('1376.9940'))]

### **5. Data Maintenance and Updates**

**Business Need:**  
Operations require regular updates on product and category data, including adding new products, updating prices, and removing outdated items.

In [4]:
%%sql
-- task_1:
--  Add a new product ("LED Lights") to the products table with today’s date as the start of its selling period. 
-- After inserting, confirm the newly generated product identifier.

INSERT INTO SalesLT.Product (Name, ProductNumber, StandardCost, ListPrice, ProductCategoryID, SellStartDate)
VALUES
    ('LED Lights', 'LT-L123', 2.56, 12.99, 37, GETDATE());
COMMIT;
SELECT SCOPE_IDENTITY() AS NewProductID;

 * mssql+pyodbc://adventureworks-db:***@adventureworks-db.database.windows.net:1433/AdventureWorks?driver=ODBC+Driver+18+for+SQL+Server
1 rows affected.
Done.
Done.

[(Decimal('1000'),)]

In [7]:
%%sql
-- task_2:
-- Introduce a new product category ("Bells and Horns") and add two new products under this category.

-- Insert new category
INSERT INTO SalesLT.ProductCategory (ParentProductCategoryID, Name)
VALUES (4, 'Bells and Horns');

-- Insert products into the new category using IDENT_CURRENT
INSERT INTO SalesLT.Product (Name, ProductNumber, StandardCost, ListPrice, ProductCategoryID, SellStartDate)
VALUES 
    ('Bicycle Bell', 'BB-RING', 2.47, 4.99, IDENT_CURRENT('SalesLT.ProductCategory'), GETDATE()),
    ('Bicycle Horn', 'BH-PARP', 1.29, 3.75, IDENT_CURRENT('SalesLT.ProductCategory'), GETDATE());

-- Commit the transaction
COMMIT;

-- Verify insertion
SELECT * FROM SalesLT.Product WHERE ProductCategoryID = IDENT_CURRENT('SalesLT.ProductCategory');

 * mssql+pyodbc://adventureworks-db:***@adventureworks-db.database.windows.net:1433/AdventureWorks?driver=ODBC+Driver+18+for+SQL+Server
1 rows affected.
2 rows affected.
Done.
Done.

[(1001, 'Bicycle Bell', 'BB-RING', None, Decimal('2.4700'), Decimal('4.9900'), None, None, 45, None, datetime.datetime(2025, 2, 6, 8, 58, 58, 800000), None, None, None, None, '2F42C1F8-8E16-40D4-8407-1869B3A1960B', datetime.datetime(2025, 2, 6, 8, 58, 58, 800000)),
 (1002, 'Bicycle Horn', 'BH-PARP', None, Decimal('1.2900'), Decimal('3.7500'), None, None, 45, None, datetime.datetime(2025, 2, 6, 8, 58, 58, 800000), None, None, None, None, 'ADA4D1B9-6DC5-49D2-A6D6-5B854DDABF83', datetime.datetime(2025, 2, 6, 8, 58, 58, 800000))]

In [8]:
%%sql
-- task_3:
-- Implement a price adjustment across a category—such as increasing prices for all products in the “Bells and Horns” category by 10%.

UPDATE SalesLT.Product
SET ListPrice = ListPrice * 1.1
WHERE ProductCategoryID = (
    SELECT ProductCategoryID FROM SalesLT.ProductCategory WHERE Name = 'Bells and Horns'
)
-- Commit the transaction
COMMIT;

 * mssql+pyodbc://adventureworks-db:***@adventureworks-db.database.windows.net:1433/AdventureWorks?driver=ODBC+Driver+18+for+SQL+Server
2 rows affected.

[]

In [9]:
%%sql
-- task_4:
-- Mark certain products as discontinued (by setting a discontinuation date) while preserving current records.
UPDATE SalesLT.Product
SET DiscontinuedDate = GETDATE()
WHERE ProductCategoryID = 37 AND ProductNumber <> 'LT-L123';
COMMIT;

 * mssql+pyodbc://adventureworks-db:***@adventureworks-db.database.windows.net:1433/AdventureWorks?driver=ODBC+Driver+18+for+SQL+Server
3 rows affected.
Done.

[]

In [10]:
%%sql
-- task_5:
-- Remove a product category that is no longer viable along with its associated products,
-- taking care to ensure that the deletion respects our data integrity constraints.

-- First, delete products linked to the category
DELETE FROM SalesLT.Product
WHERE ProductCategoryID = (
    SELECT ProductCategoryID FROM SalesLT.ProductCategory WHERE Name = 'Bells and Horns'
)
;
-- Now delete the category itself
DELETE FROM SalesLT.ProductCategory
WHERE Name = 'Bells and Horns';
COMMIT;

 * mssql+pyodbc://adventureworks-db:***@adventureworks-db.database.windows.net:1433/AdventureWorks?driver=ODBC+Driver+18+for+SQL+Server
2 rows affected.
1 rows affected.
Done.

[]